:root{
    /* Tipografias */
    --fuenteHeadings: 'Open Sans', sans-serif;
    --fuenteParrafos: 'PT Sans', sans-serif;
    /* Colores */
    --primario: #784d3c;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #e1e1e1;
    --error: rgb(185 0 0);
    --envio: rgb(10, 160, 10);

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.contenedor{
   /*  max-width: 120rem;
    width: 90%; *//* Forma normal */
    width: min(90%, 120rem);/* Nueva forma en css */
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: var(--fuenteHeadings);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/* Utilidades */

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/* HEADER */
.webp .header{
    background-image: url(../img/banner.webp);
}

.no-webp .header{
    background-image: url(../img/banner.jpg);
}


.header{
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    }
}

.barra{
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .barra{
        display: flex; /* Para que lo elementos se posicionen uno delante del otro */
        justify-content: space-between;
        align-items: center;
    }
}

.logo{
    color: var(--blanco);
}

.logo__nombre{
    font-weight: 400;
    margin-bottom: 2rem;
}

.logo__bold{
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace{
    display: block; /* Para que se posicionen uno debajo del otro */
    font-size: 1.8rem;
    color: var(--blanco);
    text-align: center;
}

/* CONTENIDO PRINCIPAL */

@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}

.boton{
    display: block;
    font-family: var(--fuenteHeadings);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .boton{
        display: inline-block;/* Esta linea le dice toma solo el espacio necesario y tambien se le puede combinar otras propiedades */

    }
}

.boton:hover{
    cursor: pointer;
}

.boton--primario{
    background-color: var(--negro);
}

/* SIDEBAR */

.boton--secundario{
    background-color: var(--primario);
}

.cursos{
    list-style: none;/* list-style va relacionado con la lista "ul", "ol" */
}

.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso, .curso:last-of-type{
    border: none;
    margin-bottom: 0;
}

.widget-curso__label, .curso__label{
    font-family: var(--fuenteHeadings);
    font-weight: 700;
}

.widget--curso__info, .curso__info{
    font-weight: 400;
}

.widget-curso__label, .widget--curso__info, .curso__label, .curso__info{
    font-size: 2rem;
}

/* FOOTER */

.footer{
    background-color: var(--negro);
    padding-bottom: 2rem;
    margin-top: 4rem;   
}

/* SOBRE NOSOTROS */
@media (min-width: 768px) {
    /* Codigo para navegadores que aun no soporten bien propiedades de grid se usa flexbox */
    /* .sobre-nosotros{
        display: flex;
        justify-content: space-between;
    }
    .sobre-nosotros__imagen{
        flex: 0 0 calc(50% - 1rem);
    }

    .sobre-nosotros__texto{
        flex: 0 0 calc(50% - 1rem);
    } */
    .sobre-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/* CURSOS */
.curso{
    padding: 3rem;
    border-bottom: 1px solid var(--gris);
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

/* CONTACTO */

.error{
    background-color: var(--error);
    text-align: center;
    color: var(--blanco);
    text-transform: uppercase;
    padding: 1rem;
}

.envio{
    background-color: var(--envio);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
}

.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    padding: 5rem;
    width: 95%;

}

.campo{
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}

.campo__label{
    flex: 0 0 9rem;
    text-align: right;

}

.campo__field{
    flex: 1;
}

.campo__field--textarea{
    height: 20rem;
}